{% load widget_tweaks %}

{% if form.is_bound %}
{% if field.errors %}
    {% if field.widget_type == 'checkbox' %}
        {% if switch %}<div class="form-check form-switch">{% endif %}
        {% render_field field class="form-control is-invalid form-check-input" placeholder=ph %}
        {% if switch %}</div">{% endif %}
    {% else %}
        {% render_field field class="form-control is-invalid" placeholder=ph %}
    {% endif %}
    {% for error in field.errors %}
    <div class="invalid-feedback">
      {{ error }}
    </div>
{% endfor %}
{% else %}
    {% if field.widget_type == 'checkbox' %}
    {% if switch %}<div class="form-check form-switch">{% endif %}
    {% render_field field class="form-control is-valid form-check-input" placeholder=ph %}
    {% if switch %}</div">{% endif %}
    {% else %}
    {% render_field field class="form-control is-valid" placeholder=ph %}
    {% endif %}
{% endif %}
{% else %}
    {% if field.widget_type == 'checkbox' %}
    {% if switch %}<div class="form-check form-switch">{% endif %}
    {% render_field field class="form-control form-check-input" placeholder=ph %}
    {% if switch %}</div">{% endif %}
    {% else %}
    {% render_field field class="form-control" placeholder=ph %}
    {% endif %}
{% endif %}